<div id="repos-modal" class="modal fade" data-show="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Repositories</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills">
                    {{#each repos}}
                        <li>
                            <a {{bind-attr href=nav_id}} data-toggle="tab">
                                {{type}}
                            </a>
                        </li>
                    {{/each}}
                </ul>

                <div class="tab-content">
                    {{#each repos}}
                        <div class="tab-pane" {{bind-attr id=type}}>
                            <ul class="no-bullet">
                                {{#each entries}}
                                    <li>
                                        <a class="pointer" {{action selected_repo id target="view"}}>
                                            {{full_name}}
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>