<div id="repos-modal" class="modal fade" data-show="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choose a Repo</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills">
                    {{#each view.repos}}
                        <li {{bind-attr class="active"}}">
                            <a {{bind-attr href=repo.nav_id}} data-toggle="tab">
                                {{repo.type}}
                            </a>
                        </li>
                    {{/each}}
                </ul>

                <div class="tab-content">
                    {{#each view.repos}}
                        <div {{bind-attr class=":tab-pane active"}} {{bind-attr id=repo.type}}>
                            <ul class="no-bullet">
                                {{#each repo.entries}}
                                    <li>
                                        <a class="pointer" {{action selected_repo owner.login name target="view"}}>
                                            {{full_name}}
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>